<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.opm.core.agency.mapper.AgencyMapper">

    <resultMap id="agencyInfById" type="com.opm.core.agency.model.AgencyModel">
        <result column="TRD_NO" property="trdNo"></result>
        <result column="APP_NO" property="appNo"></result>
        <result column="ID" property="id"></result>
        <result column="STATUS_TYPE" property="instuType"></result>
        <result column="CERT_ID" property="certId"></result>
        <result column="AGENCY_NAME" property="agencyName"></result>
        <result column="AGENCY_SNAME" property="agencySname"></result>
        <result column="ACCT_NAME" property="acctName"></result>
        <result column="ACCT_NO" property="acctNo"></result>
        <result column="ACCT_BRANCH" property="acctBranch"></result>
        <result column="REG_PRCPL" property="regPrcpl"></result>
        <result column="EXPIRATION" property="expiration"></result>
        <result column="EMPLOYER_NUM" property="employerNum"></result>
        <result column="INTRO" property="intro"></result>
        <result column="TEL" property="tel"></result>
        <result column="BUSI_MGR" property="busiMgr"></result>
        <result column="POSITION" property="position"></result>
        <result column="ADDR" property="addr"></result>
        <result column="POST_ADDRESS" property="postAddress"></result>
        <result column="NETWORK_ADDRESS" property="networkAddress"></result>
        <result column="MEMO" property="memo"></result>
        <result column="ZIPCODE" property="zipcode"></result>
        <result column="FAX" property="fax"></result>
        <result column="EMAIL" property="email"></result>
        <result column="AGENCY_CODE" property="agencyCode"></result>
        <result column="AGENCY_NO" property="agencyNo"></result>
        <result column="INTERFACE_USER" property="interfaceUser"></result>
        <result column="STATUS_FLAG" property="statusFlag"></result>
        <result column="SRVIP" property="srvip"></result>
        <result column="SRVPORT" property="srvport"></result>
        <result column="INNER_FLAG" property="innerFlag"></result>
        <result column="LEG_REPRESENTATIVE" property="legRepresentative"></result>
        <result column="OPEN_BRANCH" property="openBranch"></result>
        <result column="ZIP_EN_PASSWORD" property="zipEnPassword"></result>
        <result column="ZIP_DE_PASSWORD" property="zipDePassword"></result>
        <result column="INTERFACE_STATE" property="interfaceState"></result>
        <result column="FUND_CODE" property="fundCode"></result>
        <result column="RPT_PWD_BRANCH" property="rptPwdBranch"></result>

    </resultMap>

    <select id="qryAgencyCount" resultType="String" >
        SELECT COUNT(1)
        FROM opm_agency_inf
        where STATUS_TYPE = #{instuType, jdbcType = VARCHAR}
        <if test="id != null and id != ''">
            AND id =#{id, jdbcType = VARCHAR}
        </if>
        <if test="agencyName != null and agencyName != ''">
            AND agency_name like '%'||#{agencyName, jdbcType = VARCHAR}||'%'
        </if>

    </select>

    <select id="qryAgencyList" resultMap="agencyInfById">
        select * from (SELECT id,agency_name,STATUS_TYPE,INTERFACE_USER,STATUS_FLAG
        row_number() over(ORDER BY id, agency_name) rnum
        FROM opm_agency_inf
        where STATUS_TYPE = #{instuType, jdbcType = VARCHAR}
        <if test="id != null and id != ''">
            AND id =#{id, jdbcType = VARCHAR}
        </if>
        <if test="agencyName != null and agencyName != ''">
            AND agency_name like '%'||#{agencyName, jdbcType = VARCHAR}||'%'
        </if>
        <if test="beginNum != null and beginNum != ''">
            where t.rnum &gt;= #{beginNum}
            <if test="fetchNum != null and fetchNum != ''">
                and t.rnum &lt;= #{beginNum}+#{fetchNum}
            </if>
        </if>
        ) t
        <if test="beginNum != null and beginNum != ''">
            where t.rnum &gt;= #{beginNum}
            <if test="fetchNum != null and fetchNum != ''">
                and t.rnum &lt;= #{beginNum}+#{fetchNum}
            </if>
        </if>
        order by t.rnum

    </select>







    <!-- 基本信息app -->
    <insert id="insertAgencyTrd" parameterType="com.opm.core.agency.model.AgencyModel">
        INSERT INTO opm_agency_trd
        (trd_no,
        id,
        status_type,
        cert_id,
        agency_name,
        agency_sname,
        acct_name,
        acct_no,
        acct_branch,
        reg_prcpl,
        expiration,
        employer_num,
        intro,
        tel,
        busi_mgr,
        position,
        addr,
        post_address,
        network_address,
        memo,
        zipcode,
        fax,
        email,
        agency_code,
        agency_no,
        interface_user,
        status_flag,
        inner_flag,
        leg_representative,
        open_branch,
        zip_en_password,
        zip_de_password,
        interface_state,
        fund_code,
        rpt_pwd_branch,
        modify_time_rpt_pwd_branch
        )
        VALUES
        (#{trdNo, jdbcType = VARCHAR},
        #{id, jdbcType = VARCHAR},
        #{instuType, jdbcType = VARCHAR},
        #{certId, jdbcType = VARCHAR},
        #{agencyName, jdbcType = VARCHAR},
        #{agencySname, jdbcType = VARCHAR},
        #{acctName, jdbcType = VARCHAR},
        #{acctNo, jdbcType = VARCHAR},
        #{acctBranch, jdbcType = VARCHAR},
        #{regPrcpl, jdbcType = VARCHAR},
        #{expiration, jdbcType = VARCHAR},
        #{employerNum, jdbcType = VARCHAR},
        #{intro, jdbcType = VARCHAR},
        #{tel, jdbcType = VARCHAR},
        #{busiMgr, jdbcType = VARCHAR},

        #{position, jdbcType = VARCHAR},
        #{addr, jdbcType = VARCHAR},
        #{postAddress, jdbcType = VARCHAR},
        #{networkAddress, jdbcType = NUMERIC},
        #{memo, jdbcType = VARCHAR},
        #{zipcode, jdbcType = VARCHAR},
        #{fax, jdbcType = VARCHAR},
        #{email, jdbcType = VARCHAR},
        #{agencyCode, jdbcType = VARCHAR},
        #{agencyNo, jdbcType = VARCHAR},

        #{interfaceUser, jdbcType = VARCHAR},
        #{statusFlag, jdbcType = VARCHAR},
        #{innerFlag, jdbcType = VARCHAR},
        #{legRepresentative, jdbcType = VARCHAR},

        #{openBranch, jdbcType = VARCHAR},
        #{zipEnPassword, jdbcType = VARCHAR},
        #{zipDePassword, jdbcType = VARCHAR},
        #{interfaceState, jdbcType = VARCHAR},
        #{fundCode, jdbcType = VARCHAR},
        #{rptPwdBranch, jdbcType = VARCHAR},
        #{modifyTimeRptPwdBranch, jdbcType = VARCHAR}
        )
    </insert>

    <select id="selectAgencyTrd" resultMap="agencyInfById">
        select trd_no,
        id,
        status_type,
        cert_id,
        agency_name,
        agency_sname,
        acct_name,
        acct_no,
        acct_branch,
        reg_prcpl,
        expiration,
        employer_num,
        intro,
        tel,
        busi_mgr,
        position,
        addr,
        post_address,
        network_address,
        memo,
        zipcode,
        fax,
        email,
        agency_code,
        agency_no,
        interface_user,
        status_flag,
        srvip,
        srvport,
        inner_flag,
        leg_representative,
        open_branch,
        zip_en_password,
        zip_de_password,
        interface_state,
        fund_code,
        rpt_pwd_branch,
        modify_time_rpt_pwd_branch
        from opm_agency_trd
        where trd_no = #{trdNo, jdbcType = VARCHAR}
    </select>

    <!-- 基本信息inf -->
    <insert id="insertAgencyInf">
        INSERT INTO opm_agency_inf
        (id,
        status_type,
        cert_id,
        agency_name,
        agency_sname,
        acct_name,
        acct_no,
        acct_branch,
        reg_prcpl,
        expiration,
        employer_num,
        intro,
        tel,
        busi_mgr,
        position,
        addr,
        post_address,
        network_address,
        memo,
        zipcode,
        fax,
        email,
        agency_code,
        agency_no,
        interface_user,
        status_flag,
        srvip,
        srvport,
        inner_flag,
        leg_representative,
        open_branch,
        zip_en_password,
        zip_de_password,
        interface_state,
        fund_code,
        rpt_pwd_branch,
        modify_time_rpt_pwd_branch
        )
        select id,
        status_type,
        cert_id,
        agency_name,
        agency_sname,
        acct_name,
        acct_no,
        acct_branch,
        reg_prcpl,
        expiration,
        employer_num,
        intro,
        tel,
        busi_mgr,
        position,
        addr,
        post_address,
        network_address,
        memo,
        zipcode,
        fax,
        email,
        agency_code,
        agency_no,
        interface_user,
        status_flag,
        srvip,
        srvport,
        inner_flag,
        leg_representative,
        open_branch,
        zip_en_password,
        zip_de_password,
        interface_state,
        fund_code,
        rpt_pwd_branch,
        modify_time_rpt_pwd_branch
        from opm_agency_trd
        where trd_no = #{trdNo, jdbcType = VARCHAR}

    </insert>


</mapper>