<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.opm.core.investManager.mapper.NetValueInfMapper">
	<!-- MAPPING START -->
	<resultMap id="NetValueInfModel" type="com.opm.core.investManager.entity.NetValueInfEntity">
		<result column="plan_id" property="planId"></result>
		<result column="invest_id" property="investId"></result>
		<result column="evaluate_date" property="evaluateDate"></result>
		<result column="op_date" property="opDate"></result>
		<result column="accept_date" property="acceptDate"></result>
		<result column="last_app_no" property="lastAppNo"></result>
		<result column="unit_value" property="unitValue"></result>
		<result column="quotient" property="quotient"></result>
		<result column="net_amt" property="netAmt"></result>
	</resultMap>
	
	<resultMap id="NetValueAppFormModel2" type="com.opm.core.investManager.model.NetValueAppFormModel2">
		<result column="app_no" property="mApp.appNo"></result>
		<result column="plan_id" property="mApp.planId"></result>
		<result column="evaluate_date" property="mApp.evaluateDate"></result>
		<result column="op_date" property="mApp.opDate"></result>
		<result column="accept_date" property="mApp.acceptDate"></result>
		<result column="plan_name" property="mApp.planName"></result>
		<result column="next_evaluate_date" property="mApp.nextEvaluateDate"></result>
		<result column="common_plan_id" property="mApp.commonPlanId"></result>
		<collection property="investList" ofType="com.opm.core.investManager.entity.NetValueAppEntity">
			<result column="plan_id" property="planId"></result>
			<result column="invest_id" property="investId"></result>
			<result column="unit_value" property="unitValue"></result>
			<result column="quotient" property="quotient"></result>
			<result column="net_amt" property="netAmt"></result>
			<result column="invest_name" property="investName"></result>
		</collection>
	</resultMap>
	
	<!-- MAPPING END -->
	

	<!-- SELECT START -->
	<select id="qryInf" resultMap="NetValueInfModel" parameterType="com.opm.core.investManager.entity.NetValueInfEntity">
		SELECT plan_id,
		       invest_id,
		       evaluate_date,
		       op_date,
		       unit_value,
		       quotient,
		       net_amt,
		       accept_date,
		       last_app_no
		  FROM opm_net_value_inf
		 WHERE plan_id = #{planId}
		<if test="investId != null and investId != ''">
		   AND invest_id = #{investId}
		</if>
		<if test="evaluateDate != null and evaluateDate != ''">
		   AND evaluate_date = #{evaluateDate}
		</if>
	</select>
	

	<select id="qryInfDesc" resultMap="NetValueAppFormModel2" parameterType="com.opm.core.investManager.entity.NetValueInfEntity">
	SELECT a.plan_id,
	       a.invest_id,
	       a.evaluate_date,
	       a.op_date,
	       a.unit_value,
	       a.quotient,
	       a.net_amt,
	       a.accept_date,
	       a.last_app_no,
	       c.plan_name,
	       b.invest_name,
	       c.next_evaluate_date
	  FROM opm_net_value_inf a, opm_net_value_app b, opm_net_value_m_app c
	 WHERE a.last_app_no = b.app_no
	   AND a.plan_id = b.plan_id
	   AND a.invest_id = b.invest_id
	   AND a.evaluate_date = b.evaluate_date
	   AND b.app_no = c.app_no
	   AND b.plan_id = c.plan_id
	   AND b.evaluate_date = c.evaluate_date
	   <if test="planId != null and planId != ''">
	   AND a.plan_id = #{planId}
	   </if>
	   <if test="investId != null and investId != ''">
	   AND a.invest_id = #{investId}
	   </if>
	   <if test="evaluateDate != null and evaluateDate != ''">
	   AND a.evaluate_date = #{evaluateDate}
	   </if>
	   <if test="lastAppNo != null and lastAppNo != ''">
	   AND a.last_app_no = #{lastAppNo}
	   </if>
	</select>
	
	<select id="qryEvaluateDate" resultMap="NetValueInfModel" parameterType="com.opm.core.investManager.entity.NetValueInfEntity" >
		SELECT DISTINCT evaluate_date
		  FROM opm_net_value_inf
		 WHERE plan_id = #{planId}
	</select>
	
	<!-- SELECT END -->

	<!-- INSERT START -->
	<insert id="addInf" parameterType="com.opm.core.investManager.entity.NetValueInfEntity">
		INSERT INTO opm_net_value_inf
		    (plan_id,
		     invest_id,
		     evaluate_date,
		     op_date,
		     unit_value,
		     quotient,
		     net_amt,
		     accept_date,
		     last_app_no)
		VALUES
		    (#{planId},
		     #{investId},
		     #{evaluateDate},
		     #{opDate},
		     #{unitValue},
		     #{quotient},
		     #{netAmt},
		     #{acceptDate},
		     #{lastAppNo})
	</insert>
	
	<!-- INSERT END -->
	
	<!-- UPDATE START -->
	<update id="updInf" parameterType="com.opm.core.investManager.entity.NetValueInfEntity">
		UPDATE opm_net_value_inf
		<set>
			<if test="planId != null and planId != ''">
		   	   plan_id       = #{planId},
		   	</if>
		   	<if test="investId != null and investId != ''">
		       invest_id     = #{investId},
		    </if>
		    <if test="evaluateDate != null and evaluateDate != ''">
		       evaluate_date = #{evaluateDate},
		    </if>
		    <if test="opDate != null and opDate != ''">
		       op_date       = #{opDate},
		    </if>
		    <if test="unitValue != null and unitValue != ''">
		       unit_value    = #{unitValue},
		    </if>
		    <if test="quotient != null and quotient != ''">
		       quotient      = #{quotient},
		    </if>
		    <if test="netAmt != null and netAmt != ''">
		       net_amt       = #{netAmt},
		    </if>
		    <if test="acceptDate != null and acceptDate != ''">
		       accept_date   = #{acceptDate},
		    </if>
		    <if test="lastAppNo != null and lastAppNo != ''">
		       last_app_no   = #{lastAppNo}
		    </if>
		 </set>
		 WHERE plan_id = #{planId}
		   AND invest_id = #{investId}
		   AND evaluate_date = #{evaluateDate}
	</update>
	<!-- UPDATE END -->
</mapper>