<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.opm.core.paymanager.mapper.PayMapping">

	<!-- Map START -->
	<resultMap id="empPayNoteStaticModel"
		type="com.opm.core.paymanager.model.EmpPayNoteStatisticData">
		<result column="pay_bf_tax" property="pay_bf_tax"></result>
		<result column="taxed_offer_amt" property="taxed_offer_amt"></result>
		<result column="offer_amt" property="offer_amt"></result>
		<result column="payable_amt" property="payable_amt"></result>
		<result column="tax_amt" property="tax_amt"></result>
		<result column="pay_af_tax" property="pay_af_tax"></result>
	</resultMap>

	<resultMap id="payTradeModel" type="com.opm.core.paymanager.model.PayTradeModel">
		<result column="isrepay" property="isrepay"></result>
		<result column="pay_date" property="pay_date"></result>
		<result column="pay_count" property="pay_count"></result>
		<result column="amt" property="amt"></result>
		<result column="amt_af_tax" property="amt_af_tax"></result>
		<result column="tax_amt" property="tax_amt"></result>
		<result column="state" property="state"></result>
		<result column="trd_no" property="trd_no"></result>
		<result column="pay_no" property="pay_no"></result>
		<result column="pay_inform_date" property="pay_inform_date"></result>
		<result column="pay_inform_send_date" property="pay_inform_send_date"></result>
		<result column="record_time" property="record_time"></result>
		<result column="update_time" property="update_time"></result>
	</resultMap>


	<select id="getStaticPayNoteData" resultMap="empPayNoteStaticModel">
		select
		sum(pay_bf_tax) pay_bf_tax,
		sum(taxed_offer_amt) taxed_offer_amt,
		sum(offer_amt) offer_amt,
		sum(payable_amt) payable_amt,
		sum(tax_amt) tax_amt,
		sum(pay_af_tax) pay_af_tax,
		COUNT(1) payCount
		from opm_emp_paynote_trd
		where trd_no = #{tradeNo}
	</select>

	<select id="queryPayReport" resultMap="payTradeModel" parameterType="com.opm.core.paymanager.model.PayTradeModel">
		select 
			isrepay,
			pay_date,
			pay_count,
			amt,
			amt_af_tax,
			tax_amt,
			state,
			trd_no,
			pay_no,
			pay_inform_date,
			pay_inform_send_date
		from opm_pay_report_trd
		WHERE trd_no = #{trd_no}
	</select>

	<select id="queryPayReportRecByPayNo" resultMap="payTradeModel" >
		select 
			isrepay,
			pay_date,
			pay_count,
			amt,
			amt_af_tax,
			tax_amt,
			state,
			trd_no,
			pay_no,
			pay_inform_date,
			pay_inform_send_date,
			record_time,
			update_time
		from opm_pay_report_rec
		WHERE pay_no = #{pay_no}
	</select>

	<!-- 若不需要自动返回主键，将useGeneratedKeys="true" keyProperty="id"去掉即可(当然如果不需要自动返回主键，直接用注解即可) -->
	<insert id="insertPayTrade" parameterType="com.opm.core.paymanager.model.PayTradeModel" >
		insert into OPM_PAY_REPORT_TRD
			(isrepay,pay_inform_date,pay_count,amt,amt_af_tax,tax_amt,pay_date, pay_inform_send_date,state,trd_no,pay_no,pay_result_fb_date)
		values(#{isrepay},#{pay_inform_date,jdbcType = VARCHAR},#{pay_count},
				#{amt},#{amt_af_tax},#{tax_amt},#{pay_date}, #{pay_inform_send_date},#{state},#{trd_no},#{pay_no},#{pay_result_fb_date})
	</insert>

	<insert id="insertPayReportRec" parameterType="com.opm.core.paymanager.model.PayTradeModel"  >
		<selectKey keyProperty="pay_no" resultType="java.lang.String" order="BEFORE">
			SELECT nvl(#{pay_no},seq_pay_no.nextval) FROM dual
		</selectKey>
		insert into OPM_PAY_REPORT_REC(
			isrepay, pay_date, pay_count, amt, amt_af_tax, tax_amt, 
			state, trd_no, pay_inform_date, pay_inform_send_date, record_time, update_time, pay_no,pay_result_fb_date)
		values( 						   
			#{isrepay},#{pay_date},#{pay_count},#{amt},#{amt_af_tax},#{tax_amt},
			#{state},#{trd_no},#{pay_inform_date},#{pay_inform_send_date},sysdate,sysdate,#{pay_no},#{pay_result_fb_date})
	</insert>
	
	<insert id="insertEmpPayNoteRecFromTrade"  parameterType="com.opm.core.paymanager.model.PayTradeModel">
	
	  insert INTO OPM_EMP_PAYNOTE_REC( trd_no, ss_sequence, clerk_id, card_type, card_no, pay_mode, pay_type, 
	    pay_cycle, pay_periods, pay_bf_tax, taxed_offer_amt, offer_amt, payable_amt, 
	    tax_amt, pay_af_tax, acct_open_bank, acct_open_province, acct_open_city, 
	    acct_open_name, acct_no, is_success, record_time, update_time, pay_no)
	  select trd_no, ss_sequence, clerk_id,  card_type, card_no, pay_mode, pay_type, 
			pay_cycle, pay_periods, pay_bf_tax, taxed_offer_amt, offer_amt, payable_amt, 
			tax_amt, pay_af_tax, acct_open_bank, acct_open_province, acct_open_city, 
			acct_open_name, acct_no, is_success,sysdate,sysdate, #{pay_no}
			from opM_EMP_PAYNOTE_TRD
		where trd_no = #{trd_no}
	</insert>
	
	<insert id="insertPayTradeDet">
		insert into opm_emp_paynote_trd(
					trd_no, 
					seq,
					clerk_id, 
					name, 
					card_type, 
					card_no, 
					pay_mode, 
					pay_type, 
					pay_cycle, 
					pay_periods, 
					pay_bf_tax, 
					taxed_offer_amt, 
					offer_amt, 
					payable_amt, 
					tax_amt, 
					pay_af_tax, 
					acct_open_bank, 
					acct_open_province, 
					acct_open_city, 
					acct_open_name, 
					acct_no, 
					ss_sequence)
		select  #{tradeNo},
				seq,
				col0, 
				col1, 
				col2, 
				col3, 
				col4, 
				col5, 
				col6, 
				col7, 
				col8, 
				col9, 
				col10, 
				col11, 
				col12, 
				col13, 
				col14, 
				col15, 
				col16, 
				col17, 
				col18, 
				col19
		from OPM_DATA.opm_dtl_data_inf
		where serial_no = #{fileNo}
		and seq>=3
		and col19 is not null
	</insert>
	
<!-- 	<update id="updatePayReportRecstatus"> -->
<!-- 		update opm_pay_report_rec -->
<!-- 		set state = #{state} -->
<!-- 		where pay_no=#{payNo} -->
<!-- 	</update> -->
	
	<update id="updatePayReport" parameterType="com.opm.core.paymanager.model.PayTradeModel">
		update opm_pay_report_rec
		<set>
			<if test="isrepay !=null and isrepay != ''">isrepay = #{isrepay}, </if>
			<if test="pay_date !=null and pay_date != ''">pay_date = #{pay_date}, </if>
			<if test="pay_count !=null and pay_count != ''">pay_count = #{pay_count}, </if>
			<if test="amt !=null and amt != ''">amt = #{amt}, </if>
			<if test="amt_af_tax !=null and amt_af_tax != ''">amt_af_tax = #{amt_af_tax}, </if>
			<if test="tax_amt !=null and tax_amt != ''">tax_amt = #{tax_amt}, </if>
			<if test="state !=null and state != ''">state = #{state}, </if>
<!-- 			<if test="trd_no !=null and trd_no != ''">trd_no = #{trd_no}, </if> -->
			<if test="pay_inform_date !=null and pay_inform_date != ''">pay_inform_date = #{pay_inform_date}, </if>
			<if test="pay_inform_send_date !=null and pay_inform_send_date != ''">pay_inform_send_date = #{pay_inform_send_date}, </if>
			<if test="record_time !=null and record_time != ''">record_time = #{record_time}, </if>
			update_time = sysdate, 
<!-- 			<if test="pay_no !=null and pay_no != ''">pay_no = #{pay_no}, </if> -->
		 </set>
			where pay_no=#{pay_no}
	</update>

</mapper>