<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.opm.core.plan.mapper.PlanInvestMapper">
	
	<resultMap id="planInvest" type="com.opm.core.plan.model.PlanInvestModel">
		<result column="APP_NO" property="appNo"></result>
		<result column="TRD_NO" property="trdNo"></result>
		<result column="PLAN_ID" property="planId"></result>
		<result column="INVEST_NAME" property="investName"></result>
		<result column="TRUSTEE_ID" property="trusteeId"></result>
		<result column="TRUSTEE_NAME" property="trusteeName"></result>
		<result column="INVESTOR_INVEST_ID" property="investorInvestId"></result>
		<result column="OFFER_RATE" property="offerRate"></result>
		<result column="PAY_RATE" property="payRate"></result>
	</resultMap>
	<!-- 基本信息app -->
	<select id="selectPlanInvestApp" resultMap="planInvest">
	 	select app_no,
		     plan_id,
		     invest_id,
		     invest_name,
		     trustee_id,
		     trustee_name,
		     investor_invest_id,
		     to_char(offer_rate*100,'990.00')||'%' offer_rate,
		     to_char(pay_rate*100,'990.00')||'%' pay_rate
		 from opm_invest_app
		where app_no = #{appNo, jdbcType = VARCHAR}
		    <if test="planId != null and planId != ''">
		   	 and  plan_id = #{planId, jdbcType = VARCHAR}
		   	</if>
		    <if test="investId != null and investId != ''">
		   	 and  invest_id = #{investId, jdbcType = VARCHAR}
		   	</if>
	</select>
	<insert id="insertPlanInvestApp" parameterType="com.opm.core.plan.model.PlanInvestModel">
	  INSERT INTO opm_invest_app
	    (app_no,
	     plan_id,
	     invest_id,
	     invest_name,
	     trustee_id,
	     trustee_name,
	     investor_invest_id,
	     offer_rate,
	     pay_rate)
	VALUES
		(#{appNo, jdbcType = VARCHAR},
		#{planId, jdbcType = VARCHAR},
		seq_id.nextval,
		#{investName, jdbcType = VARCHAR},
		#{trusteeId, jdbcType = VARCHAR},
		#{trusteeName, jdbcType = VARCHAR},
		#{investorInvestId, jdbcType = VARCHAR},
		#{offerRate, jdbcType = VARCHAR},
		#{payRate, jdbcType = VARCHAR}
	)
	</insert>
	<update id="updatePlanInvestApp" parameterType="com.opm.core.plan.model.PlanInvestModel">
		update opm_invest_app
		   set  invest_name = #{investName, jdbcType = VARCHAR},
				trustee_id = #{trusteeId, jdbcType = VARCHAR},
				trustee_name = #{trusteeName, jdbcType = VARCHAR},
				investor_invest_id = #{investorInvestId, jdbcType = VARCHAR},
				offer_rate = #{offerRate, jdbcType = VARCHAR},
				pay_rate = #{payRate, jdbcType = VARCHAR}
		where app_no = #{appNo, jdbcType = VARCHAR}
		  and plan_id = #{planId, jdbcType = VARCHAR}
		  and invest_id = #{investId, jdbcType = VARCHAR}
	</update>
	<delete id="deletePlanInvestApp" parameterType="com.opm.core.plan.model.PlanInvestModel">
		delete from opm_invest_app
		where app_no = #{appNo, jdbcType = VARCHAR}
		  and plan_id = #{planId, jdbcType = VARCHAR}
		  and invest_id = #{investId, jdbcType = VARCHAR}
	</delete>

	<!-- 基本信息trd -->
	<insert id="insertPlanInvestTrd" parameterType="com.opm.core.plan.model.PlanInvestModel">
	INSERT INTO opm_invest_trd
		(trd_no,
	     plan_id,
	     invest_id,
	     invest_name,
	     trustee_id,
	     trustee_name,
	     investor_invest_id,
	     offer_rate,
	     pay_rate)
	VALUES
		(#{trdNo, jdbcType = VARCHAR},
		#{planId, jdbcType = VARCHAR},
		#{investId, jdbcType = VARCHAR},
		#{investName, jdbcType = VARCHAR},
		#{trusteeId, jdbcType = VARCHAR},
		#{trusteeName, jdbcType = VARCHAR},
		#{investorInvestId, jdbcType = VARCHAR},
		#{offerRate, jdbcType = VARCHAR},
		#{payRate, jdbcType = VARCHAR}
	)
	</insert>
	
	<!-- 基本信息inf -->
	<insert id="insertPlanInvestInf" parameterType="com.opm.core.plan.model.PlanInvestModel">
	INSERT INTO opm_invest_inf
		(plan_id,
	     invest_id,
	     invest_name,
	     trustee_id,
	     trustee_name,
	     investor_invest_id,
	     offer_rate,
	     pay_rate)
	VALUES
		(#{planId, jdbcType = VARCHAR},
		#{investId, jdbcType = VARCHAR},
		#{investName, jdbcType = VARCHAR},
		#{trusteeId, jdbcType = VARCHAR},
		#{trusteeName, jdbcType = VARCHAR},
		#{investorInvestId, jdbcType = VARCHAR},
		#{offerRate, jdbcType = VARCHAR},
		#{payRate, jdbcType = VARCHAR}
	)
	</insert>
	<select id="selectPlanInvestInf" resultMap="planInvest">
	 	select
	     plan_id,
	     invest_id,
	     invest_name,
	     trustee_id,
	     trustee_name,
	     investor_invest_id,
	     offer_rate,
	     pay_rate
		 from opm_invest_inf
		where plan_id = #{planId, jdbcType = VARCHAR}
	</select>
	<update id="updatePlanInvestInf" parameterType="com.opm.core.plan.model.PlanInvestModel">
		update opm_invest_inf
		   set  invest_name = #{investName, jdbcType = VARCHAR},
				trustee_id = #{trusteeId, jdbcType = VARCHAR},
				trustee_name = #{trusteeName, jdbcType = VARCHAR},
				investor_invest_id = #{investorInvestId, jdbcType = VARCHAR},
				offer_rate = #{offerRate, jdbcType = VARCHAR},
				pay_rate = #{payRate, jdbcType = VARCHAR}
		where plan_id = #{planId, jdbcType = VARCHAR}
		  and invest_id = #{investId, jdbcType = VARCHAR}
	</update>
</mapper>