<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.opm.core.plan.mapper.PlanOtherMapper">
	
	<resultMap id="planOtherInvest" type="com.opm.core.plan.model.OtherInvestInfModel">
		<result column="APP_NO" property="appNo"></result>
		<result column="TRD_NO" property="trdNo"></result>
		<result column="PLAN_ID" property="planId"></result>
		<result column="COMMON_PLAN_ID" property="commonPlanId"></result>
		<result column="INVEST_ID" property="investId"></result>
		<result column="INVEST_NAME" property="investName"></result>
		<result column="INVESTOR_ID" property="investorId"></result>
		<result column="INVESTOR_NAME" property="investorName"></result>
	</resultMap>
	<!-- 基本信息app -->
	<select id="selectPlanOtherInvestApp" resultMap="planOtherInvest">
	 	select app_no,
		       plan_id,
		       common_plan_id,
		       invest_id,
		       invest_name,
		       investor_id,
		       investor_name
		 from opm_other_invest_app
		where app_no = #{appNo, jdbcType = VARCHAR}
		    <if test="commonPlanId != null and commonPlanId != ''">
		   	 and  common_plan_id = #{commonPlanId, jdbcType = VARCHAR}
		   	</if>
		order by common_plan_id
	</select>
	<insert id="insertPlanOtherInvestApp" parameterType="com.opm.core.plan.model.OtherInvestInfModel">
	  INSERT INTO opm_other_invest_app
	    (app_no,
	       plan_id,
	       common_plan_id,
	       invest_id,
	       invest_name,
	       investor_id,
	       investor_name)
	VALUES
		(#{appNo, jdbcType = VARCHAR},
		#{planId, jdbcType = VARCHAR},
		#{commonPlanId, jdbcType = VARCHAR},
		#{investId, jdbcType = VARCHAR},
		#{investName, jdbcType = VARCHAR},
		#{investorId, jdbcType = VARCHAR},
		#{investorName, jdbcType = VARCHAR}
	)
	</insert>
	<delete id="deletePlanOtherInvestApp" parameterType="com.opm.core.plan.model.OtherInvestInfModel">
		delete from opm_other_invest_app
		where app_no = #{appNo, jdbcType = VARCHAR}
		    <if test="commonPlanId != null and commonPlanId != ''">
		   	 and  common_plan_id = #{commonPlanId, jdbcType = VARCHAR}
		   	</if>
	</delete>

	<!-- 基本信息trd -->
	<insert id="insertPlanOtherInvestTrd" parameterType="com.opm.core.plan.model.OtherInvestInfModel">
	INSERT INTO opm_other_invest_trd
		(trd_no,
	     plan_id,
	       common_plan_id,
	       invest_id,
	       invest_name,
	       investor_id,
	       investor_name)
	VALUES
		(#{trdNo, jdbcType = VARCHAR},
		#{planId, jdbcType = VARCHAR},
		#{commonPlanId, jdbcType = VARCHAR},
		#{investId, jdbcType = VARCHAR},
		#{investName, jdbcType = VARCHAR},
		#{investorId, jdbcType = VARCHAR},
		#{investorName, jdbcType = VARCHAR}
	)
	</insert>
	
	<!-- 基本信息inf -->
	<insert id="insertPlanOtherInvestInf" parameterType="com.opm.core.plan.model.OtherInvestInfModel">
	INSERT INTO opm_other_invest_inf
		(plan_id,
	       common_plan_id,
	       invest_id,
	       invest_name,
	       investor_id,
	       investor_name)
	VALUES
		(#{planId, jdbcType = VARCHAR},
		#{commonPlanId, jdbcType = VARCHAR},
		#{investId, jdbcType = VARCHAR},
		#{investName, jdbcType = VARCHAR},
		#{investorId, jdbcType = VARCHAR},
		#{investorName, jdbcType = VARCHAR}
	)
	</insert>
	<select id="selectPlanOtherInvestInf" resultMap="planOtherInvest">
	 	select
	     plan_id,
	       common_plan_id,
	       invest_id,
	       invest_name,
	       investor_id,
	       investor_name
		 from opm_other_invest_inf
		where common_plan_id = #{commonPlanId, jdbcType = VARCHAR}
	</select>
	<delete id="deletePlanOtherInvestInf" parameterType="com.opm.core.plan.model.OtherInvestInfModel">
		delete opm_other_invest_inf
		where common_plan_id = #{commonPlanId, jdbcType = VARCHAR}
	</delete>
</mapper>