<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.opm.core.plan.mapper.PlanMapper">
	<!-- 计划申请信息 -->
	<resultMap id="planAppInf" type="com.opm.core.plan.model.PlanAppInfModel">
		<result column="APP_NO" property="appNo"></result>
		<result column="PROD_ID" property="prodId"></result>
		<result column="PLAN_STATE" property="planState"></result>
		<result column="PLAN_NAME" property="planName"></result>
		<result column="PLAN_LOC" property="planLoc"></result>
		<result column="PLAN_LOC_TOTAL" property="planLocTotal"></result>
		<result column="VALUATION_METHOD" property="valuationMethod"></result>
		<result column="PLAN_TYPE" property="planType"></result>
		<result column="PLAN_ATTR" property="planAttr"></result>
		<result column="TRUST_PLAN_ID" property="trustPlanId"></result>
		<result column="ACCT_BEGIN_DATE" property="acctBeginDate"></result>
		<result column="CONFIRM_FLAG" property="confirmFlag"></result>
		<result column="COMMON_PLAN_ID" property="commonPlanId"></result>
		<result column="CONFIRM_DATE" property="confirmDate"></result>
		<result column="SOC_SEC_STRU" property="socSecStru"></result>
		<result column="TRUST_CONTRACT" property="trustContract"></result>
		<result column="SUBMIT_CTRL" property="submitCtrl"></result>
		<result column="ACT_FLAG" property="actFlag"></result>
		<result column="ACT_RATE" property="actRate"></result>
		<result column="ACT_DATE" property="actDate"></result>
	</resultMap>

	<resultMap id="applicationInfo" type="com.opm.core.workflow.model.ApplicationModle">
		<result column="APP_NO" property="applyId"></result>
		<result column="PLAN_ID" property="planId"></result>
		<result column="PLAN_NAME" property="planName"></result>
		<result column="APP_USER" property="applyUser"></result>
		<result column="APP_TYPE" property="applyType" typeHandler="com.opm.common.typehandler.EnumApplyTypeHandler"></result>
		<result column="APP_STATE" property="applyStatus" typeHandler="com.opm.common.typehandler.EnumApplyStatusHandler"></result>
		<result column="APP_TIME" property="applyTime"></result>
	</resultMap>
	
	<resultMap id="planInfByPlanId" type="com.opm.core.plan.model.PlanBasicInfoModel">
		<result column="APP_NO" property="appNo"></result>
		<result column="TRD_NO" property="trdNo"></result>
		<result column="PLAN_ID" property="planId"></result>
		<result column="PROD_ID" property="prodId"></result>
		<result column="PROD_NAME" property="prodName"></result>
		<result column="PLAN_NAME" property="planName"></result>
		<result column="PLAN_LOCATION" property="planLocation"></result>
		<result column="PLAN_NUM" property="planNum"></result>
		<result column="PLAN_EVAL_TYPE" property="planEvalType"></result>
		<result column="PLAN_TYPE" property="planType"></result>
		<result column="MANDATARY_PLAN_ID" property="mandataryPlanId"></result>
		<result column="ACCT_BEGIN_DATE" property="acctBeginDate"></result>
		<result column="CONFIRM_FLAG" property="confirmFlag"></result>
		<result column="COMMON_PLAN_ID" property="commonPlanId"></result>
		<result column="SOC_SEC_DAY" property="socSecDay"></result>
		<result column="SOC_SEC_STRU" property="socSecStru"></result>
		<result column="TRUSTCONNO" property="trustconno"></result>
		<result column="SUBMIT_CTRL" property="submitCtrl"></result>
		<result column="ACCOUNTING_FLAG" property="accountingFlag"></result>
		<result column="ACT_RATE" property="actRate"></result>
		<result column="ACT_DATE" property="actDate"></result>
		<result column="UNIF_PLAN_NAME" property="unifPlanName"></result>
		<result column="UNIF_PLAN_ID" property="unifPlanId"></result>
		<result column="UNIF_MANDATARY_ID" property="unifMandataryId"></result>
		<result column="UNIF_TRUSTEE_ID" property="unifTrusteeId"></result>
		<result column="ICBC_FLAG" property="icbcFlag"></result>
		<collection property="investInfModelList" ofType="com.opm.core.plan.model.InvestInfModel">
			<result column="INVEST_NAME" property="investName"></result>
			<result column="INVEST_ID" property="investId"></result>
			<result column="TRUSTEE_ID" property="trusteeId"></result>
			<result column="TRUSTEE_NAME" property="trusteeName"></result>
			<result column="INVESTOR_INVEST_ID" property="investorInvestId"></result>
			<result column="OFFER_RATE" property="offerRate"></result>
			<result column="PAY_RATE" property="payRate"></result>
		</collection>
		<collection property="otherPlanInfModelList" ofType="com.opm.core.plan.model.OtherPlanInfModel">
			<result column="OTHER_PLAN_NAME" property="planName"></result>
			<result column="OTHER_PLAN_ID" property="commonPlanId"></result>
			<result column="TRUSTEE" property="trustee"></result>
			<result column="TRUST" property="trust"></result>
			<result column="INVEST_NUM" property="investNum"></result>
			<result column="PRIMARY_FLAG" property="primaryFlag"></result>
			<collection property="otherInvestInfModelList" ofType="com.opm.core.plan.model.OtherInvestInfModel">
				<result column="OTHER_INVEST_ID" property="investId"></result>
				<result column="OTHER_INVEST_NAME" property="investName"></result>
				<result column="OTHER_INVESTOR_NAME" property="investorName"></result>
			</collection>
		</collection>

	</resultMap>

	<!-- 获取所有的申请信息 -->
	<select id="getPlanApplys" resultMap="applicationInfo">
		SELECT APP_NO, PLAN_ID, APP_USER, APP_TYPE, APP_STATE, APP_TIME
		FROM OPM_APP
		WHERE APP_STATE = 2
	</select>

	<!-- 获取计划申请信息 -->
	<select id="getPlanAppDet" resultMap="planAppInf">
		select *
		from opm_plan_inf_app where app_no = #{appNo, jdbcType = INTEGER}
	</select>
	
	<!-- 传入当前计划编码，返回关联计划列表，含计划编码，是否主受托人。 -->
	<select id="getPlanInfByPlanId" resultMap="planInfByPlanId">
	SELECT t.plan_id,
	         prod_id,
	         prod_name,
	         t.plan_name,
	         plan_location,
	         plan_num,
	         plan_eval_type,
	         plan_type,
	         mandatary_plan_id,
	         acct_begin_date,
	         confirm_flag,
	         t.common_plan_id,
	         soc_sec_day,
	         soc_sec_stru,
	         trustconno,
	         submit_ctrl,
	         accounting_flag,
	         act_rate,
	         act_date,
	         unif_plan_name,
	         unif_plan_id,
	         unif_mandatary_id,
	         unif_trustee_id,
	         icbc_flag,
	         plan_time,
	         invest_preacct_flag,
	         invest_defer,
	         branch_id,
	         t1.invest_id,
	         t1.invest_name,
	         trustee_id,
	         trustee_name,
	         investor_invest_id,
	         offer_rate,
	         pay_rate,
	         t2.plan_name other_plan_name,
	         t2.common_plan_id other_plan_id,
	         trustee,
	         TRUST,
	         invest_num,
	         primary_flag,
	         t3.invest_id other_invest_id,
	         t3.invest_name other_invest_name,
	         t3.investor_id other_investor_id,
	         t3.investor_name other_investor_name
	    FROM (opm_plan_inf t INNER JOIN opm_invest_inf t1 ON
	          t.plan_id = t1.plan_id)
	    LEFT JOIN(opm_other_plan_inf t2
	   INNER JOIN opm_other_invest_inf t3
	      ON t2.plan_id = t3.plan_id
	     AND t2.common_plan_id = t3.common_plan_id) ON t.plan_id = t2.plan_id
	   WHERE t.plan_id = #{param1, jdbcType = VARCHAR}
	   order by t1.invest_name, t3.invest_name
	</select>
	<!-- 基本信息app -->
	<insert id="insertPlanBasicApp" parameterType="com.opm.core.plan.model.PlanBasicInfoModel">
	INSERT INTO opm_plan_app
		(app_no,
		 plan_id,
		 prod_id,
		 prod_name,
		 plan_name,
		 plan_location,
		 plan_num,
		 plan_eval_type,
		 plan_type,
		 mandatary_plan_id,
		 acct_begin_date,
		 confirm_flag,
		 common_plan_id,
		 soc_sec_day,
		 soc_sec_stru,
		 trustconno,
		 submit_ctrl,
		 accounting_flag,
		 act_rate,
		 act_date,
		 unif_plan_name,
		 unif_plan_id,
		 unif_mandatary_id,
		 unif_trustee_id,
		 icbc_flag,
		 plan_time,
		 invest_preacct_flag,
		 invest_defer,
		 branch_id)
	VALUES
		(#{appNo, jdbcType = VARCHAR},
		seq_id.nextval,
		#{prodId, jdbcType = VARCHAR},
		#{prodName, jdbcType = VARCHAR},
		#{planName, jdbcType = VARCHAR},
		#{planLocation, jdbcType = VARCHAR},
		#{planNum, jdbcType = VARCHAR},
		#{planEvalType, jdbcType = VARCHAR},
		#{planType, jdbcType = VARCHAR},
		#{mandataryPlanId, jdbcType = VARCHAR},
		#{acctBeginDate, jdbcType = VARCHAR},
		#{confirmFlag, jdbcType = VARCHAR},
		#{commonPlanId, jdbcType = VARCHAR},
		#{socSecDay, jdbcType = VARCHAR},
		#{socSecStru, jdbcType = VARCHAR},
		#{trustconno, jdbcType = VARCHAR},
		#{submitCtrl, jdbcType = VARCHAR},
		'Y',
		#{actRate, jdbcType = NUMERIC},
		#{actDate, jdbcType = VARCHAR},
		#{unifPlanName, jdbcType = VARCHAR},
		#{unifPlanId, jdbcType = VARCHAR},
		#{unifMandataryId, jdbcType = VARCHAR},
		#{unifTrusteeId, jdbcType = VARCHAR},
		#{icbcFlag, jdbcType = VARCHAR},
		to_char(sysdate,'yyyy-mm-dd'),
		#{investPreacctFlag, jdbcType = VARCHAR},
		#{investDefer, jdbcType = VARCHAR},
		#{branchId, jdbcType = VARCHAR}
	)
	</insert>
	<select id="selectPlanBasicApp" resultMap="planInfByPlanId">
	 	select app_no,
		 plan_id,
		 prod_id,
		 prod_name,
		 plan_name,
		 plan_location,
		 plan_num,
		 plan_eval_type,
		 plan_type,
		 mandatary_plan_id,
		 acct_begin_date,
		 confirm_flag,
		 common_plan_id,
		 soc_sec_day,
		 soc_sec_stru,
		 trustconno,
		 submit_ctrl,
		 accounting_flag,
		 act_rate,
		 act_date,
		 unif_plan_name,
		 unif_plan_id,
		 unif_mandatary_id,
		 unif_trustee_id,
		 icbc_flag,
		 plan_time,
		 invest_preacct_flag,
		 invest_defer,
		 branch_id
		 from opm_plan_app
		where app_no = #{appNo, jdbcType = VARCHAR}
	</select>
	<update id="updatePlanBasicApp" parameterType="com.opm.core.plan.model.PlanBasicInfoModel">
		update opm_plan_app
		   set  prod_name = #{prodName, jdbcType = VARCHAR},
				plan_name = #{planName, jdbcType = VARCHAR},
				plan_location = #{planLocation, jdbcType = VARCHAR},
				plan_num = #{planNum, jdbcType = VARCHAR},
				plan_eval_type = #{planEvalType, jdbcType = VARCHAR},
				plan_type = #{planType, jdbcType = VARCHAR},
				mandatary_plan_id = #{mandataryPlanId, jdbcType = VARCHAR},
				acct_begin_date = #{acctBeginDate, jdbcType = VARCHAR},
				confirm_flag = #{confirmFlag, jdbcType = VARCHAR},
				common_plan_id = #{commonPlanId, jdbcType = VARCHAR},
				soc_sec_day = #{socSecDay, jdbcType = VARCHAR},
				soc_sec_stru = #{socSecStru, jdbcType = VARCHAR},
				trustconno = #{trustconno, jdbcType = VARCHAR},
				submit_ctrl = #{submitCtrl, jdbcType = VARCHAR},
				act_rate = #{actRate, jdbcType = VARCHAR},
				act_date = #{actDate, jdbcType = VARCHAR},
				unif_plan_name = #{unifPlanName, jdbcType = VARCHAR},
				unif_plan_id = #{unifPlanId, jdbcType = VARCHAR},
				unif_mandatary_id = #{unifMandataryId, jdbcType = VARCHAR},
				unif_trustee_id = #{unifTrusteeId, jdbcType = VARCHAR},
				icbc_flag = #{icbcFlag, jdbcType = VARCHAR},
				plan_time = #{planTime, jdbcType = VARCHAR},
				invest_preacct_flag = #{investPreacctFlag, jdbcType = VARCHAR},
				invest_defer = #{investDefer, jdbcType = VARCHAR},
				branch_id = #{branchId, jdbcType = VARCHAR}
		where app_no = #{appNo, jdbcType = VARCHAR}
	</update>
	<select id="selectSavedPlanApp" resultType="map">
	  SELECT t1.app_no,
         t1.plan_name,
         to_char(t.app_time, 'yyyy-mm-dd hh24:mi:ss') save_time
    FROM opm_app t, opm_plan_app t1
   WHERE t.app_type = 'PLANBASIC'
     AND t.app_state = '1'
     AND t.app_no = t1.app_no
	</select>
	<!-- 基本信息trd -->
	<insert id="insertPlanBasicTrd" parameterType="com.opm.core.plan.model.PlanBasicInfoModel">
	INSERT INTO opm_plan_trd
		(trd_no,
		 plan_id,
		 prod_id,
		 prod_name,
		 plan_name,
		 plan_location,
		 plan_num,
		 plan_eval_type,
		 plan_type,
		 mandatary_plan_id,
		 acct_begin_date,
		 confirm_flag,
		 common_plan_id,
		 soc_sec_day,
		 soc_sec_stru,
		 trustconno,
		 submit_ctrl,
		 accounting_flag,
		 act_rate,
		 act_date,
		 unif_plan_name,
		 unif_plan_id,
		 unif_mandatary_id,
		 unif_trustee_id,
		 icbc_flag,
		 plan_time,
		 invest_preacct_flag,
		 invest_defer,
		 branch_id)
	VALUES
		(#{trdNo, jdbcType = VARCHAR},
		seq_id.nextval,
		#{prodId, jdbcType = VARCHAR},
		#{prodName, jdbcType = VARCHAR},
		#{planName, jdbcType = VARCHAR},
		#{planLocation, jdbcType = VARCHAR},
		#{planNum, jdbcType = VARCHAR},
		#{planEvalType, jdbcType = VARCHAR},
		#{planType, jdbcType = VARCHAR},
		#{mandataryPlanId, jdbcType = VARCHAR},
		#{acctBeginDate, jdbcType = VARCHAR},
		#{confirmFlag, jdbcType = VARCHAR},
		#{commonPlanId, jdbcType = VARCHAR},
		#{socSecDay, jdbcType = VARCHAR},
		#{socSecStru, jdbcType = VARCHAR},
		#{trustconno, jdbcType = VARCHAR},
		#{submitCtrl, jdbcType = VARCHAR},
		'Y',
		#{actRate, jdbcType = NUMERIC},
		#{actDate, jdbcType = VARCHAR},
		#{unifPlanName, jdbcType = VARCHAR},
		#{unifPlanId, jdbcType = VARCHAR},
		#{unifMandataryId, jdbcType = VARCHAR},
		#{unifTrusteeId, jdbcType = VARCHAR},
		#{icbcFlag, jdbcType = VARCHAR},
		to_char(sysdate,'yyyy-mm-dd'),
		#{investPreacctFlag, jdbcType = VARCHAR},
		#{investDefer, jdbcType = VARCHAR},
		#{branchId, jdbcType = VARCHAR}
	)
	</insert>
	<select id="selectPlanBasicTrd" resultMap="planInfByPlanId">
	 	select trd_no,
		 plan_id,
		 prod_id,
		 prod_name,
		 plan_name,
		 plan_location,
		 plan_num,
		 plan_eval_type,
		 plan_type,
		 mandatary_plan_id,
		 acct_begin_date,
		 confirm_flag,
		 common_plan_id,
		 soc_sec_day,
		 soc_sec_stru,
		 trustconno,
		 submit_ctrl,
		 accounting_flag,
		 act_rate,
		 act_date,
		 unif_plan_name,
		 unif_plan_id,
		 unif_mandatary_id,
		 unif_trustee_id,
		 icbc_flag,
		 plan_time,
		 invest_preacct_flag,
		 invest_defer,
		 branch_id
		 from opm_plan_trd
		where trd_no = #{trdNo, jdbcType = VARCHAR}
	</select>
	<update id="updatePlanBasicTrd" parameterType="com.opm.core.plan.model.PlanBasicInfoModel">
		update opm_plan_trd
		   set  prod_name = #{prodName, jdbcType = VARCHAR},
				plan_name = #{planName, jdbcType = VARCHAR},
				plan_location = #{planLocation, jdbcType = VARCHAR},
				plan_num = #{planNum, jdbcType = VARCHAR},
				plan_eval_type = #{planEvalType, jdbcType = VARCHAR},
				plan_type = #{planType, jdbcType = VARCHAR},
				mandatary_plan_id = #{mandataryPlanId, jdbcType = VARCHAR},
				acct_begin_date = #{acctBeginDate, jdbcType = VARCHAR},
				confirm_flag = #{confirmFlag, jdbcType = VARCHAR},
				common_plan_id = #{commonPlanId, jdbcType = VARCHAR},
				soc_sec_day = #{socSecDay, jdbcType = VARCHAR},
				soc_sec_stru = #{socSecStru, jdbcType = VARCHAR},
				trustconno = #{trustconno, jdbcType = VARCHAR},
				submit_ctrl = #{submitCtrl, jdbcType = VARCHAR},
				act_rate = #{actRate, jdbcType = VARCHAR},
				act_date = #{actDate, jdbcType = VARCHAR},
				unif_plan_name = #{unifPlanName, jdbcType = VARCHAR},
				unif_plan_id = #{unifPlanId, jdbcType = VARCHAR},
				unif_mandatary_id = #{unifMandataryId, jdbcType = VARCHAR},
				unif_trustee_id = #{unifTrusteeId, jdbcType = VARCHAR},
				icbc_flag = #{icbcFlag, jdbcType = VARCHAR},
				plan_time = #{planTime, jdbcType = VARCHAR},
				invest_preacct_flag = #{investPreacctFlag, jdbcType = VARCHAR},
				invest_defer = #{investDefer, jdbcType = VARCHAR},
				branch_id = #{branchId, jdbcType = VARCHAR}
		where trd_no = #{trdNo, jdbcType = VARCHAR}
	</update>
	<select id="selectSavedPlanTrd" resultType="map">
	  SELECT t1.app_no,
         t2.plan_name,
         to_char(t.update_time, 'yyyy-mm-dd hh24:mi:ss') save_time
    FROM opm_trd t, opm_trd_rel_app t1, opm_plan_trd t2
   WHERE t.trd_type = 'PLANBASIC'
     AND t.trd_state = 'PREPARED'
     AND t.trd_no = t1.trd_no
     AND t1.trd_no = t2.trd_no
	</select>
	
	<!-- 基本信息inf -->
	<insert id="insertPlanBasicInf" parameterType="com.opm.core.plan.model.PlanBasicInfoModel">
	INSERT INTO opm_plan_inf
		(plan_id,
		 prod_id,
		 prod_name,
		 plan_name,
		 plan_location,
		 plan_num,
		 plan_eval_type,
		 plan_type,
		 mandatary_plan_id,
		 acct_begin_date,
		 confirm_flag,
		 common_plan_id,
		 soc_sec_day,
		 soc_sec_stru,
		 trustconno,
		 submit_ctrl,
		 accounting_flag,
		 act_rate,
		 act_date,
		 unif_plan_name,
		 unif_plan_id,
		 unif_mandatary_id,
		 unif_trustee_id,
		 icbc_flag,
		 plan_time,
		 invest_preacct_flag,
		 invest_defer,
		 branch_id)
	VALUES
		(#{planId, jdbcType = VARCHAR},
		#{prodId, jdbcType = VARCHAR},
		#{prodName, jdbcType = VARCHAR},
		#{planName, jdbcType = VARCHAR},
		#{planLocation, jdbcType = VARCHAR},
		#{planNum, jdbcType = VARCHAR},
		#{planEvalType, jdbcType = VARCHAR},
		#{planType, jdbcType = VARCHAR},
		#{mandataryPlanId, jdbcType = VARCHAR},
		#{acctBeginDate, jdbcType = VARCHAR},
		#{confirmFlag, jdbcType = VARCHAR},
		#{commonPlanId, jdbcType = VARCHAR},
		#{socSecDay, jdbcType = VARCHAR},
		#{socSecStru, jdbcType = VARCHAR},
		#{trustconno, jdbcType = VARCHAR},
		#{submitCtrl, jdbcType = VARCHAR},
		#{accountingFlag, jdbcType = VARCHAR},
		#{actRate, jdbcType = NUMERIC},
		#{actDate, jdbcType = VARCHAR},
		#{unifPlanName, jdbcType = VARCHAR},
		#{unifPlanId, jdbcType = VARCHAR},
		#{unifMandataryId, jdbcType = VARCHAR},
		#{unifTrusteeId, jdbcType = VARCHAR},
		#{icbcFlag, jdbcType = VARCHAR},
		#{planTime, jdbcType = VARCHAR},
		#{investPreacctFlag, jdbcType = VARCHAR},
		#{investDefer, jdbcType = VARCHAR},
		#{branchId, jdbcType = VARCHAR}
	)
	</insert>
	<select id="selectPlanBasicInf" resultMap="planInfByPlanId">
	 	select
		 plan_id,
		 prod_id,
		 prod_name,
		 plan_name,
		 plan_location,
		 plan_num,
		 plan_eval_type,
		 plan_type,
		 mandatary_plan_id,
		 acct_begin_date,
		 confirm_flag,
		 common_plan_id,
		 soc_sec_day,
		 soc_sec_stru,
		 trustconno,
		 submit_ctrl,
		 accounting_flag,
		 act_rate,
		 act_date,
		 unif_plan_name,
		 unif_plan_id,
		 unif_mandatary_id,
		 unif_trustee_id,
		 icbc_flag,
		 plan_time,
		 invest_preacct_flag,
		 invest_defer,
		 branch_id
		 from opm_plan_inf
		where plan_id = #{planId, jdbcType = VARCHAR}
	</select>
	<update id="updatePlanBasicInf" parameterType="com.opm.core.plan.model.PlanBasicInfoModel">
		update opm_plan_inf
		   set  prod_name = #{prodName, jdbcType = VARCHAR},
				plan_name = #{planName, jdbcType = VARCHAR},
				plan_location = #{planLocation, jdbcType = VARCHAR},
				plan_num = #{planNum, jdbcType = VARCHAR},
				plan_eval_type = #{planEvalType, jdbcType = VARCHAR},
				plan_type = #{planType, jdbcType = VARCHAR},
				mandatary_plan_id = #{mandataryPlanId, jdbcType = VARCHAR},
				acct_begin_date = #{acctBeginDate, jdbcType = VARCHAR},
				confirm_flag = #{confirmFlag, jdbcType = VARCHAR},
				common_plan_id = #{commonPlanId, jdbcType = VARCHAR},
				soc_sec_day = #{socSecDay, jdbcType = VARCHAR},
				soc_sec_stru = #{socSecStru, jdbcType = VARCHAR},
				trustconno = #{trustconno, jdbcType = VARCHAR},
				submit_ctrl = #{submitCtrl, jdbcType = VARCHAR},
				act_rate = #{actRate, jdbcType = VARCHAR},
				act_date = #{actDate, jdbcType = VARCHAR},
				unif_plan_name = #{unifPlanName, jdbcType = VARCHAR},
				unif_plan_id = #{unifPlanId, jdbcType = VARCHAR},
				unif_mandatary_id = #{unifMandataryId, jdbcType = VARCHAR},
				unif_trustee_id = #{unifTrusteeId, jdbcType = VARCHAR},
				icbc_flag = #{icbcFlag, jdbcType = VARCHAR},
				plan_time = #{planTime, jdbcType = VARCHAR},
				invest_preacct_flag = #{investPreacctFlag, jdbcType = VARCHAR},
				invest_defer = #{investDefer, jdbcType = VARCHAR},
				branch_id = #{branchId, jdbcType = VARCHAR}
		where plan_id = #{planId, jdbcType = VARCHAR}
	</update>
</mapper>