<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.opm.core.plan.mapper.PlanOtherMapper">
	
	<resultMap id="planOther" type="com.opm.core.plan.model.OtherPlanInfModel">
		<result column="APP_NO" property="appNo"></result>
		<result column="TRD_NO" property="trdNo"></result>
		<result column="PLAN_ID" property="planId"></result>
		<result column="PLAN_NAME" property="planName"></result>
		<result column="COMMON_PLAN_ID" property="commonPlanId"></result>
		<result column="TRUSTEE" property="trustee"></result>
		<result column="TRUST" property="trust"></result>
		<result column="INVEST_NUM" property="investNum"></result>
		<result column="PRIMARY_FLAG" property="primaryFlag"></result>
	</resultMap>
	<!-- 基本信息app -->
	<select id="selectPlanOtherApp" resultMap="planOther">
	 	select app_no,
		     plan_id,
		     plan_name,
		     common_plan_id,
		     trustee,
		     TRUST,
		     invest_num,
		     primary_flag
		 from opm_other_plan_app
		where app_no = #{appNo, jdbcType = VARCHAR}
		    <if test="planName != null and planName != ''">
		   	 and  plan_name = #{planName, jdbcType = VARCHAR}
		   	</if>
		    <if test="commonPlanId != null and commonPlanId != ''">
		   	 and  common_plan_id = #{commonPlanId, jdbcType = VARCHAR}
		   	</if>
		order by common_plan_id
	</select>
	<insert id="insertPlanOtherApp" parameterType="com.opm.core.plan.model.OtherPlanInfModel">
	  INSERT INTO opm_other_plan_app
	    (app_no,
	     plan_id,
	     plan_name,
	     common_plan_id,
	     trustee,
	     TRUST,
	     invest_num,
	     primary_flag)
	VALUES
		(#{appNo, jdbcType = VARCHAR},
		#{planId, jdbcType = VARCHAR},
		#{planName, jdbcType = VARCHAR},
		#{commonPlanId, jdbcType = VARCHAR},
		#{trustee, jdbcType = VARCHAR},
		#{trust, jdbcType = VARCHAR},
		#{investNum, jdbcType = VARCHAR},
		#{primaryFlag, jdbcType = VARCHAR}
	)
	</insert>
	<update id="updatePlanOtherApp" parameterType="com.opm.core.plan.model.OtherPlanInfModel">
		update opm_other_plan_app
		   set  plan_name = #{planName, jdbcType = VARCHAR},
				common_plan_id = #{commonPlanId, jdbcType = VARCHAR},
				trustee = #{trustee, jdbcType = VARCHAR},
				trust = #{trust, jdbcType = VARCHAR},
				invest_num = #{investNum, jdbcType = VARCHAR},
				primary_flag = #{primaryFlag, jdbcType = VARCHAR}
		where app_no = #{appNo, jdbcType = VARCHAR}
		  <if test="planName != null and planName != ''">
		   	 and  plan_name = #{planName, jdbcType = VARCHAR}
		   	</if>
		    <if test="commonPlanId != null and commonPlanId != ''">
		   	 and  common_plan_id = #{commonPlanId, jdbcType = VARCHAR}
		   	</if>
	</update>
	<delete id="deletePlanOtherApp" parameterType="com.opm.core.plan.model.OtherPlanInfModel">
		delete from opm_other_plan_app
		where app_no = #{appNo, jdbcType = VARCHAR}
		  <if test="planName != null and planName != ''">
		   	 and  plan_name = #{planName, jdbcType = VARCHAR}
		   	</if>
		    <if test="commonPlanId != null and commonPlanId != ''">
		   	 and  common_plan_id = #{commonPlanId, jdbcType = VARCHAR}
		   	</if>
	</delete>

	<!-- 基本信息trd -->
	<insert id="insertPlanOtherTrd" parameterType="com.opm.core.plan.model.OtherPlanInfModel">
	INSERT INTO opm_other_plan_trd
		(trd_no,
	     plan_id,
	     plan_name,
	     common_plan_id,
	     trustee,
	     TRUST,
	     invest_num,
	     primary_flag)
	VALUES
		(#{trdNo, jdbcType = VARCHAR},
		#{planId, jdbcType = VARCHAR},
		#{planName, jdbcType = VARCHAR},
		#{commonPlanId, jdbcType = VARCHAR},
		#{trustee, jdbcType = VARCHAR},
		#{trust, jdbcType = VARCHAR},
		#{investNum, jdbcType = VARCHAR},
		#{primaryFlag, jdbcType = VARCHAR}
	)
	</insert>
	
	<!-- 基本信息inf -->
	<insert id="insertPlanOtherInf" parameterType="com.opm.core.plan.model.OtherPlanInfModel">
	INSERT INTO opm_other_plan_inf
		(plan_id,
	     plan_name,
	     common_plan_id,
	     trustee,
	     TRUST,
	     invest_num,
	     primary_flag)
	VALUES
		(#{planId, jdbcType = VARCHAR},
		#{planName, jdbcType = VARCHAR},
		#{commonPlanId, jdbcType = VARCHAR},
		#{trustee, jdbcType = VARCHAR},
		#{trust, jdbcType = VARCHAR},
		#{investNum, jdbcType = VARCHAR},
		#{primaryFlag, jdbcType = VARCHAR}
	)
	</insert>
	<select id="selectPlanOtherInf" resultMap="planOther">
	 	select
	     plan_id,
	     plan_name,
	     common_plan_id,
	     trustee,
	     TRUST,
	     invest_num,
	     primary_flag
		 from opm_other_plan_inf
		where plan_id = #{planId, jdbcType = VARCHAR}
	</select>
	<update id="updatePlanOtherInf" parameterType="com.opm.core.plan.model.OtherPlanInfModel">
		update opm_other_plan_inf
		   set  plan_name = #{planName, jdbcType = VARCHAR},
				common_plan_id = #{commonPlanId, jdbcType = VARCHAR},
				trustee = #{trustee, jdbcType = VARCHAR},
				trust = #{trust, jdbcType = VARCHAR},
				invest_num = #{investNum, jdbcType = VARCHAR},
				primary_flag = #{primaryFlag, jdbcType = VARCHAR}
		where plan_id = #{planId, jdbcType = VARCHAR}
		  <if test="planName != null and planName != ''">
		   	 and  plan_name = #{planName, jdbcType = VARCHAR}
		   	</if>
		    <if test="commonPlanId != null and commonPlanId != ''">
		   	 and  common_plan_id = #{commonPlanId, jdbcType = VARCHAR}
		   	</if>
	</update>
</mapper>