<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.opm.acct.mdt.mapper.DtlDataInfMapper">
<!-- 受托户会计余额账 -->
	<resultMap id="dtlDataInf" type="com.opm.acct.mdt.model.DtlDataInfModel">
	    <result column="SERIAL_NO" property="serialNo"></result>
	     <result column="SEQ_NO" property="seqNo"></result>
		<result column="CHECK_FLAG" property="checkFlag"></result>
		<result column="STATUS" property="status"></result>
		<result column="COL0" property="col0"></result>
		<result column="COL1" property="col1"></result>
		<result column="COL2" property="col2"></result>
		<result column="COL3" property="col3"></result>
		<result column="COL4" property="col4"></result>
		<result column="COL5" property="col5"></result>
		<result column="COL6" property="col6"></result>
		<result column="COL7" property="col7"></result>
		<result column="COL8" property="col8"></result>
		<result column="COL9" property="col9"></result>
		<result column="COL10" property="col10"></result>
		<result column="COL11" property="col11"></result>
	</resultMap>
	
	<!-- 查询受托户导入数据 -->
	<select id="getFileData" parameterType="String" resultMap="dtlDataInf">
	SELECT seq_no,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11,
	       rownum rn
	FROM (
	      SELECT seq_no,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11 
	       FROM opm_dtl_data_inf 
	       WHERE  serial_no=#{serialNo,jdbcType=VARCHAR} 
	              and check_flag=#{checkFlag,jdbcType=VARCHAR}
	              and status=#{status,jdbcType=VARCHAR} 
	              and seq_no > 1
	              ORDER BY seq_no ASC)
	  WHERE  rn &gt;= #{beginNum,jdbcType=INTEGER}
                   AND rn &lt; (#{beginNum,jdbcType=INTEGER} + #{fetchNum,jdbcType=INTEGER})
    </select>
    
</mapper>