<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.opm.acct.mdt.mapper.MdtAdjActTrdMapper">
<!-- 受托户调账交易表-->
	<resultMap id="mdtAdjActTrd" type="com.opm.acct.mdt.model.MdtAdjActTrdModel">
		<result column="SEQ_ID" property="seqId"></result>                      
		<result column="TRD_NO" property="trdNo"></result>                      
		<result column="MDT_ADD_ACT_TYPE" property="mdtAddActType"></result>    
		<result column="OP_DATE" property="opDate"></result>                    
		<result column="MDT_ADD_OP_TYPE" property="mdtAddOpType"></result>      
		<result column="REASON" property="reason"></result>                     
		<result column="MDT_SUBJECT_TYPE" property="mdtSubjectType"></result>   
		<result column="DEBIT_CREDIT_FLAG" property="debitCreditFlag"></result> 
        <result column="TRADE_AMT" property="tradeAmt"></result> 
	</resultMap>
	
	   <!-- 插入受托户调账交易表-->
    <insert id="insertMdtAdjActTrd" parameterType="java.util.List">
	  INSERT INTO opm_mdt_adj_act_trd
                (seq_id,trd_no,mdt_add_act_type,op_date,mdt_add_op_type,         
		reason,mdt_subject_type,debit_credit_flag, trade_amt )
            <foreach collection="list" item="item" index="index" separator="union" open="(" close=")">
              	select
			SEQ_ID.nextval,#{item.trdNo,jdbcType=VARCHAR},
			#{item.mdtAddActType,jdbcType=VARCHAR},#{item.opDate,jdbcType=VARCHAR},
			#{item.mdtAddOpType,jdbcType=VARCHAR},
			#{item.reason,jdbcType=VARCHAR},#{item.mdtSubjectType,jdbcType=VARCHAR},
			#{item.debitCreditFlag,jdbcType=VARCHAR},
			#{item.tradeAmt,jdbcType=DOUBLE}
			from dual

             </foreach>      
           
    </insert>
	<!-- 查询最大操作日期-->
	<select id="getMaxOpDate" parameterType="String">
		  SELECT MAX(op_date) 
		   FROM opm_mdt_adj_act_trd t WHERE t.trd_no = #{trdNo,jdbcType=VARCHAR}
	</select>
	
	<!-- 获取指定字段的最大值-->
	<select id="getMaxValueByFieldName" parameterType="String">
		   SELECT MAX(#{fieldName,jdbcType=VARCHAR})
          FROM opm_mdt_adj_act_trd t
         WHERE t.trd_no = #{trdNo,jdbcType=VARCHAR}
	</select>
	 <!-- 查询交易申请信息-->
	<select id="getMdtAdjActTrd" parameterType="String">
		 SELECT seq_id,trd_no,mdt_add_act_type,op_date,mdt_add_op_type,         
		reason,mdt_subject_type,debit_credit_flag, trade_amt
              FROM opm_mdt_adj_act_trd t
             WHERE t.trd_no = #{trdNo,jdbcType=VARCHAR}
	</select>
	
	  <!-- 查询借贷金额 
	<select id="getDebitOrCreditAmt" parameterType="String">
		
            SELECT nvl(SUM(t.trade_amt), 0)
              FROM opm_mdt_adj_act_trd t
             WHERE t.trd_no = #{trdNo,jdbcType=VARCHAR}
              AND t.debit_credit_flag = #{debitCreditFlag,jdbcType=VARCHAR};
	</select>-->
	 <!-- 查询所有者权益 
	<select id="getCreditAmt" parameterType="String">
		
            SELECT nvl(SUM(CASE
                               WHEN t.mdt_subject_type IN ('1002', '1204', '6404', '6405', '6605') THEN
                                decode(t.debit_credit_flag, 1, 1, 2, -1) * t.trade_amt
                               WHEN t.mdt_subject_type IN ('2207', '2210', '2211', '2221', '6011', '4001', '4103', '4104')  OR t.mdt_subject_type LIKE '2241%' THEN
                                -decode(t.debit_credit_flag, 2, 1, 1, -1) * t.trade_amt
                           END), 0)
              FROM opm_mdt_adj_act_trd t
             WHERE t.trd_no = #{trdNo,jdbcType=VARCHAR};
	</select>-->
	 <!-- 查询调账交易信息  不是资产 ,负债类型
	<select id="getMdtAdjActTrdForCheck" parameterType="String">
		 SELECT seq_id,trd_no,mdt_add_act_type,op_date,mdt_add_op_type,         
		reason,mdt_subject_type,debit_credit_flag, trade_amt
              FROM opm_mdt_adj_act_trd t
             WHERE t.trd_no = #{trdNo,jdbcType=VARCHAR}
               AND t.mdt_subject_type NOT IN ('1002', '1204', '2207', '2210', '2211', '2221') OR t.mdt_subject_type LIKE '2241%';
	</select>-->
</mapper>