<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.opm.acct.mdt.mapper.MdtAcctdetInfMapper">
<!-- 受托户资金账务信息 -->
	<resultMap id="mdtAcctDetInf" type="com.opm.acct.mdt.model.MdtAcctdetInfModel">
		 <result column="SEQ_ID" property="seqId"></result>
		<result column="ACT_ID" property="actId"></result>
		<result column="OP_DATE" property="opDate"></result>
		<result column="OP_TIME" property="opTime"></result>
		<result column="IN_TRADE_AMT" property="inTradeAmt"></result>
		<result column="OUT_TRADE_AMT" property="outTradeAmt"></result>
		<result column="AMT" property="amt"></result>
		<result column="OPP_ACCT_NO" property="oppAcctNo"></result>
		<result column="OPP_ACCT_NAME" property="oppAcctName"></result>
		<result column="CONFIRM_STATE" property="confirmState"></result>
		<result column="DEAL_TYPE" property="dealType"></result>
		<result column="SUMMARY1" property="summary1"></result>
		<result column="SUMMARY2" property="summary2"></result>
		<result column="MEMO" property="memo"></result>
		<result column="UPDATE_TIME" property="updateTime"></result>
		<result column="VALID_FLAG" property="validFlag"></result>
		<result column="TRD_NO" property="trdNo"></result>
	</resultMap>
	
	<!-- 受托账户明细查询-->
	<select id="qryMdtAcctdetInfList" parameterType="String" resultMap="mdtAcctDetInf">
	SELECT seq_id, op_date, op_time, decode(in_trade_amt, 0, '', in_trade_amt) in_trade_amt,
            decode(out_trade_amt, 0, '', out_trade_amt) out_trade_amt, amt, opp_acct_name,
                       deal_type,
                       confirm_state,
                       memo
                  FROM (SELECT seq_id,
                               op_date,
                               op_time,
                               in_trade_amt,
                               out_trade_amt,
                               amt,
                               opp_acct_name,
                               deal_type,
                               confirm_state,
                               memo,
                               rownum rn
                          FROM (SELECT seq_id,
                                       op_date,
                                       op_time,
                                       in_trade_amt,
                                       out_trade_amt,
                                       amt,
                                       opp_acct_name,
                                       deal_type,
                                       confirm_state,
                                       memo
                                  FROM opm_mdt_acctdet_inf t
                                  WHERE t.op_date = #{opDate,jdbcType=VARCHAR} 
                                  AND ((#{direct,jdbcType=VARCHAR} IS NULL AND #{amt,jdbcType=VARCHAR} IS NULL) OR
                                       (#{direct,jdbcType=VARCHAR}t IS NULL AND #{amt,jdbcType=VARCHAR} IS NOT NULL AND #{amt,jdbcType=VARCHAR} = t.in_trade_amt OR #{amt,jdbcType=VARCHAR} = t.out_trade_amt) OR
                                       (#{direct,jdbcType=VARCHAR} IS NOT NULL AND #{amt,jdbcType=VARCHAR} IS NOT NULL AND ((#{direct,jdbcType=VARCHAR} = 1 AND t.out_trade_amt = #{amt,jdbcType=VARCHAR}) OR (#{direct,jdbcType=VARCHAR} = 2 AND t.in_trade_amt = #{amt,jdbcType=VARCHAR} ))) OR
                                       (#{direct,jdbcType=VARCHAR} IS NOT NULL AND #{amt,jdbcType=VARCHAR} IS NULL AND ((#{direct,jdbcType=VARCHAR} = 1 AND t.out_trade_amt != 0) OR (#{direct,jdbcType=VARCHAR} = 2 AND t.in_trade_amt != 0))))
                                   AND (#{oppAcctName,jdbcType=VARCHAR} IS NULL OR #{oppAcctName,jdbcType=VARCHAR} = t.opp_acct_name)
                                   AND t.valid_flag = 'Y'
                                   AND t.act_id = #{actId,jdbcType=VARCHAR})
                         ORDER BY seq_id ASC)
                 WHERE rn &gt;= #{beginNum,jdbcType=INTEGER}
                   AND rn &lt; (#{beginNum,jdbcType=INTEGER} + #{fetchNum,jdbcType=INTEGER})
	
	</select>
	
	<!-- 导入前最后一条明细信息查询 -->
	<select id="getMdtAcctLastDet" parameterType="String" resultType="map">
		 SELECT t.op_date, t.op_time,decode(out_trade_amt, 0, '', out_trade_amt) as out_trade_amt,
                       decode(in_trade_amt, 0, '', in_trade_amt) as in_trade_amt, t.amt, t.opp_acct_name
                  FROM opm_mdt_acctdet_inf t
                 WHERE t.seq_id = (SELECT MAX(seq_id)
                                     FROM (SELECT seq_id,
                                                  rownum rw
                                             FROM (SELECT seq_id
                                                     FROM opm_mdt_acctdet_inf t1
                                                    WHERE t1.act_id = #{actId,jdbcType=VARCHAR}
                                                      AND t1.valid_flag = 'Y'
                                                    ORDER BY op_date DESC,
                                                             seq_id  DESC))

                                    WHERE rw = 1)
                   AND t.act_id = #{actId,jdbcType=VARCHAR}
	</select>
	
	<!-- 获取受托户资金账务信息数 -->
	<select id="getMdtAcctDetInfCount" parameterType="String">
		  SELECT COUNT(1)  FROM opm_mdt_acctdet_inf t1
             WHERE t1.act_id = #{actId,jdbcType=VARCHAR}
               AND t1.valid_flag = #{validFlag,jdbcType=VARCHAR}
	</select>
	
	<!-- 获取受托户导入计息起始日期 -->
	<select id="getBeginDateForImpDraw" parameterType="String">
		   SELECT greatest(op_date, act_date) as op_date
            from (SELECT t2.op_date, t1.act_date FROM opm_mdt_act_inf t1 ,opm_mdt_acctdet_inf t2
                   WHERE t1.act_id = t2.act_id and t2.seq_id = 
                     (SELECT MAX(seq_id)
                          FROM (SELECT seq_id,
                                       rownum rw
                                  FROM (SELECT seq_id
                                          FROM opm_mdt_acctdet_inf t
                                         WHERE t.act_id = #{actId,jdbcType=VARCHAR}
                                           AND t.valid_flag = 'Y'
                                         ORDER BY op_date DESC,
                                                  seq_id  DESC))
                        
                         WHERE rw = 1))
                         
	</select>
	
	<!-- 插入受托户资金账务信息 -->
	<insert id="insertMdtAcctdetInf" parameterType="String">
	 INSERT INTO opm_mdt_acctdet_inf
                (seq_id,
                 act_id,
                 op_date,
                 op_time,
                 in_trade_amt,
                 out_trade_amt,
                 amt,
                 opp_acct_no,
                 opp_acct_name,
                 confirm_state,
                 deal_type,
                 summary1,
                 summary2,
                 memo,
                 trd_no,
                 update_time,
                 valid_flag)
                (SELECT SEQ_ID.nextval,
                        act_id,
                        op_date,
                        op_time,
                        nvl(in_trade_amt, 0),
                        nvl(out_trade_amt, 0),
                        amt,
                        opp_acct_no,
                        opp_acct_name,
                        1,
                        deal_type,
                        summary1,
                        summary2,
                        memo,
                        trd_no,
                        SYSDATE,
                        'Y'
                   FROM (SELECT act_id,
                                op_date,
                                op_time,
                                in_trade_amt,
                                out_trade_amt,
                                amt,
                                opp_acct_no,
                                opp_acct_name,
                                deal_type,
                                summary1,
                                summary2,
                                memo,
                                trd_no
                           FROM opm_mdt_acctdet_trd t
                          WHERE trd_no = #{trdNo,jdbcType=VARCHAR}
                          ORDER BY t.seq_id))
    </insert>
    
    <!-- 获取导入前最后一条明细的交易日期 -->
	<select id="getOpDateBefImpLastDet" parameterType="String" resultType="String">
		  SELECT greatest (nvl(a.op_date, b.act_date) , b.act_date)  as op_date
		  FROM (SELECT MAX(t.op_date) as op_date
                FROM opm_mdt_acctdet_inf t
                WHERE t.act_id = #{actId,jdbcType=VARCHAR} AND t.valid_flag = 'Y') a, 
                opm_mdt_act_inf b where b.act_id=#{actId,jdbcType=VARCHAR}
	</select>
	
	<!-- 根据流水号获取受托户资金账务信息 -->
	<select id="getMdtAcctdetInfBySeqId" parameterType="String">
		SELECT    seq_id,act_id,op_date,op_time,in_trade_amt,out_trade_amt,amt,
		       opp_acct_no,opp_acct_name,confirm_state,deal_type,
		       summary1,summary2,memo,update_time,valid_flag,trd_no  
		 FROM opm_mdt_acctdet_inf t WHERE t.seq_id = #{seqId,jdbcType=VARCHAR}
	</select>
	<!-- 更新受托户资金账务信息 -->
	<update id="updMdtAcctdetInf" parameterType="String">
		  MERGE INTO opm_mdt_acctdet_inf a
	      USING (
	             SELECT seq_id,
	                     memo,
	                     trd_no,
	                     confirm_state,
	                     deal_type             
	               FROM opm_mdt_acctdet_trd t2
	              WHERE t2.trd_no = #{trdNo,jdbcType=VARCHAR}) b
	      ON (a.seq_id = b.seq_id)
	      WHEN MATCHED THEN
	          UPDATE
	                 a.memo          = b.memo,
	                 a.trd_no        = b.trd_no,
	                 a.deal_type     = b.deal_type
	</update>
	
	<!-- 判断是否计提利息,输入日期至该日期所在月份最后一天范围内 -->
	<select id="isCalDrawBtwDateAndLastest" parameterType="String">
		 SELECT COUNT(1)
              FROM opm_mdt_acctdet_inf t
             WHERE t.act_id = #{actId,jdbcType=VARCHAR}
               AND t.op_date > #{endDate,jdbcType=VARCHAR}
               AND t.op_date &lt;= to_char(last_day(to_date(#{endDate,jdbcType=VARCHAR}, 'YYYY-MM-DD')), 'YYYY-MM-DD')
               AND t.valid_flag = 'Y'
	</select>
	
	<!-- 获取计息起始日期 -->
	<select id="getBeginDateCalDraw" parameterType="String">
		 SELECT greatest(greatest(nvl(MAX(op_date), substr(#{endDate,jdbcType=VARCHAR}, 0, 8) || '01'),
                                         #{actDate,jdbcType=VARCHAR}),
                                substr(#{endDate,jdbcType=VARCHAR}, 0, 8) || '01')
                  FROM opm_mdt_acctdet_inf t
                 WHERE t.op_date &lt;= #{endDate,jdbcType=VARCHAR}
                   AND t.act_id = #{actId,jdbcType=VARCHAR}
                   AND t.valid_flag = 'Y'
	</select>
	
	<!-- 获取受托户最后一条明细余额-->
	<select id="getActLastAmtBefDate" parameterType="String">
		   SELECT nvl(MAX(amt), 0)
              FROM opm_mdt_acctdet_inf
             WHERE seq_id =

                   (SELECT MAX(seq_id)
                      FROM (SELECT seq_id,
                                   rownum rw
                              FROM (SELECT seq_id
                                      FROM opm_mdt_acctdet_inf t
                                     WHERE t.act_id = #{actId,jdbcType=VARCHAR}
                                       AND t.op_date &lt;= #{date,jdbcType=VARCHAR}
                                       AND t.valid_flag = 'Y'
                                       AND t.amt IS NOT NULL
                                     ORDER BY op_date DESC,
                                              seq_id  DESC))

                     WHERE rw = 1)
	</select>
	<!-- 更新或插入资产净值-->
	<update id="updOrInsertAmt" parameterType="String">
		    MERGE INTO opm_mdt_dayend_inf a
        USING (SELECT #{actId,jdbcType=VARCHAR}   act_id,
                      #{date,jdbcType=VARCHAR}    dayend_date
                 FROM dual) b
        ON (a.act_id = b.act_id AND a.dayend_date = b.dayend_date)
        WHEN MATCHED THEN
            UPDATE
               SET a.is_finished = #{isFinished,jdbcType=VARCHAR},
                   a.trd_no      = #{trdNo,jdbcType=VARCHAR},
                   amt           = #{amt,jdbcType=DOUBLE}
        WHEN NOT MATCHED THEN
            INSERT
                (act_id, dayend_date, is_finished, trd_no, update_time, amt)
            VALUES
                (#{actId,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR}, 
                #{isFinished,jdbcType=VARCHAR}, #{trdNo,jdbcType=VARCHAR}, SYSDATE, #{amt,jdbcType=DOUBLE})
	</update>
	<!-- 获取受托户两个日期之间的资金账务信息-->
	<select id="getInfBetween2Date" parameterType="String">
		    SELECT seq_id,act_id,op_date,op_time,in_trade_amt,out_trade_amt,amt,
		       opp_acct_no,opp_acct_name,confirm_state,deal_type,
		       summary1,summary2,memo,update_time,valid_flag,trd_no
              FROM opm_mdt_acctdet_inf t
             WHERE t.act_id = #{actId,jdbcType=VARCHAR}
               AND t.op_date >= #{beginDate,jdbcType=VARCHAR}
               AND t.op_date &lt;= #{endDate,jdbcType=VARCHAR}
               AND t.valid_flag = 'Y'
	</select>
</mapper>