<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.opm.acct.mdt.mapper.TrdMapper">
	<!-- MAPPING START -->
	<resultMap id="trdModel" type="com.opm.acct.mdt.model.TrdModel">
		<result column="trd_no" property="trdNo"></result>
		<result column="trd_type" property="trdType"></result>
		<result column="trd_state" property="trdState"></result>
	</resultMap>
	

	<!-- MAPPING END -->
	

	<!-- SELECT START -->
	<select id="qryTrd" resultMap="trdModel" parameterType="com.opm.acct.mdt.model.TrdModel">
		SELECT trd_no, trd_type, trd_state
		  FROM opm_trd
		<where>
			<if test="trdNo != null and trdNo != ''">
			   AND trd_no = #{trdNo}
			</if>
			<if test="trdType != null and trdType != ''">
			   AND trd_type = #{trdType}
			</if>
			<if test="trdState != null and trdState != ''">
			   AND trd_state = #{trdState}
			</if>
		</where>
	</select>
	
	<!-- SELECT END -->

	<!-- INSERT START -->
	<insert id="addTrd" parameterType="com.opm.acct.mdt.model.TrdModel">
		<selectKey keyProperty="trdNo" resultType="java.lang.String" order="BEFORE">
			SELECT seq_no.nextval FROM dual
		</selectKey>
		INSERT INTO opm_trd
		    (trd_no, trd_type, trd_state,update_time)
		VALUES
		    (#{trdNo,jdbcType = VARCHAR}, #{trdType,jdbcType = VARCHAR}, #{trdState,jdbcType = VARCHAR},sysdate)
	</insert>
	
	<!-- INSERT END -->
	
	<!-- UPDATE START -->
	<update id="updTrd" parameterType="com.opm.acct.mdt.model.TrdModel">
		UPDATE opm_trd
		<set> 
			<if test="trdNo != null and trdNo != ''">
		   trd_no = #{trdNo}, 
		    </if>
		    <if test="trdType != null and trdType != ''">
		   trd_type = #{trdType},
		   	</if> 
		   	<if test="trdState != null and trdState != ''">
		   trd_state = #{trdState}
		   	</if>
		 </set>
		 WHERE trd_no = #{trdNo}
	</update>
	<!-- UPDATE END -->
</mapper>